<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active"
       (click)="onNavigateToAddTodoListTask()"><span>Add</span></a>
  </li>
</ul>

<div class="todo-list-tasks">
  <label class="todo-list-task"
         *ngFor="let todoListTask of todoListTasks">
    <input class="todo-list-task-check"
           type="checkbox"
           [checked]="todoListTask.completed"
           (click)="onComplete(todoListTask)">
    <span class="todo-list-task-detail"
          (click)="onNavigateToUpdateTodoListTask(todoListTask)">
      <strong>{{ todoList.title }}</strong>
      <small class="todo-list-task-period">
        {{ todoListTask.startDate }} - {{ todoListTask.deadline }}
      </small>
      <p>{{ todoList.description }}</p>
    </span>
  </label>
</div>
