<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a (click)="onCancel()"><span>TODO Lists</span></a></li>
    <li class="breadcrumb-item active"><span>New TODO List</span></li>
  </ol>
</nav>

<form [formGroup]="form"
      (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>New TODO list</legend>
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text"
             class="form-control"
             id="title"
             name="title"
             formControlName="title">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control"
                rows="3"
                id="description"
                formControlName="description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">
      <span>Ok</span>
    </button>
    <button type="button" class="btn btn-link" (click)="onCancel()">
      <span>Cancel</span>
    </button>
  </fieldset>
</form>
