<div class="d-flex flex-column flex-shrink-0 p-3">
  <ul class="nav nav-pills flex-coumn mb-auto">
    <li class="nav-item">
      <a class="nav-link active" (click)="onNavigateToAddTodoList()">
        <span>Add</span>
      </a>
    </li>
  </ul>
</div>

<div class="row">
  <aside class="col-md-4 col-4">
    <div class="todo-lists">
      <a class="todo-list"
         aria-current="true"
         *ngFor="let todoList of todoLists"
         (click)="onNavigateToSearchTodoTasks(todoList.todoListId)">
        <div class="todo-list-title">
          <strong>{{ todoList.title }}</strong>
        </div>
        <div class="todo-list-description">
          {{ todoList.description }}
        </div>
      </a>
    </div>
  </aside>
  <div class="col-md-8"></div>
</div>
