<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active"
       (click)="onNavigateToAdd()"><span>Add</span></a>
  </li>
</ul>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><span>Title</span></th>
      <th scope="col"><span></span></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of datasource">
      <td><span>{{ item.title }}</span></td>
      <td><a class="btn btn-link"
             (click)="onNavigateToView(item.todoListId)">
             <span>view</span>
          </a>
          <a class="btn btn-link"
             (click)="onNavigateToUpdate(item.todoListId)">
             <span>edit</span>
          </a>
      </td>
    </tr>
  </tbody>
</table>
