<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a (click)="onNavigateToSearchTodoList()"><span>TODO Lists</span></a>
    </li>
    <li class="breadcrumb-item">
      <a (click)="onNavigateToGetTodoList()"><span>{{ todoList.title }}</span></a>
    </li>
    <li class="breadcrumb-item active"><span>Tasks</span></li>
  </ol>
</nav>

<a class="link" (click)="onNavigateToAddTodoListTask()"><span>Add</span></a>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><span>Title</span></th>
      <th scope="col"><span>Desription</span></th>
      <th scope="col"><span>Start Date</span></th>
      <th scope="col"><span>Deadline</span></th>
      <th scope="col"><span></span></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todoListTask of todoListTasks">
      <td><input type="checkbox" (click)="onComplete(todoListTask)"></td>
      <td><span>{{ todoListTask.title }}</span></td>
      <td><span>{{ todoListTask.description }}</span></td>
      <td><span>{{ todoListTask.startDate }}</span></td>
      <td><span>{{ todoListTask.deadline }}</span></td>
    </tr>
  </tbody>
</table>
