<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a (click)="onCancel()"><span>TODO Lists</span></a>
    </li>
    <li class="breadcrumb-item">
      <a (click)="onNavigateToGetTodoList()"><span>{{ todoList.title }}</span></a>
    </li>
    <li class="breadcrumb-item active"><span>Tasks</span></li>
  </ol>
</nav>

<a class="link" (click)="onAdd()"><span>Add</span></a>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><span>Title</span></th>
      <th scope="col"><span>Desription</span></th>
      <th scope="col"><span>Start Date</span></th>
      <th scope="col"><span>Deadline</span></th>
      <th scope="col"><span></span></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of todoLists">
      <td><span>{{record.title}}</span></td>
      <td><span>{{record.description}}</span></td>
      <td><span>{{record.startDate}}</span></td>
      <td><span>{{record.deadline}}</span></td>
      <td><input type="checkbox" (click)="onComplete(record)"></td>
    </tr>
  </tbody>
</table>
