<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a (click)="onNavigateToSearchTodoList()"><span>TODO Lists</span></a>
    </li>
    <li class="breadcrumb-item">
      <a (click)="onNavigateToGetTodoList()"><span>{{ todoList.title }}</span></a>
    </li>
    <li class="breadcrumb-item active"><span>Tasks</span></li>
  </ol>
</nav>

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active"
       (click)="onNavigateToAddTodoListTask()"><span>Add</span></a>
  </li>
</ul>

<div class="list-group">
  <label class="list-group-item d-flex gap-3"
         *ngFor="let todoListTask of todoListTasks">
    <input class="form-check-input flex-shrink-0"
           type="checkbox"
           [checked]="todoListTask.completed"
           (click)="onComplete(todoListTask)">
    <span class="pt-1 form-checked-content"
          (click)="onNavigateToUpdateTodoListTask(todoListTask)">
      <strong>{{ todoList.title }}</strong>
      <small class="d-block text-muted">
        <svg class="bi me-1" width="1em" height="1em"></svg>
        {{ todoListTask.startDate }} - {{ todoListTask.deadline }}
      </small>
      <p>{{ todoList.description }}</p>
    </span>
  </label>
</div>
