<header class="container-fluid border-bottom p-3">
  <div class="row">
    <div class="col-md-3">
      <a style="cursor: pointer; font-size: 1.5em;"
         routerLink="/todo">
        <i class="bi bi-card-checklist me-2"></i>
        <span>TODO list</span>
      </a>
    </div>
    <div class="col-md-9 d-grid gap-2 d-md-flex justify-content-md-end">
      <a class="btn btn-light"
         style="width: 100px"
         (click)="onBack()">
        <i class="bi bi-chevron-left"></i>
        <span>Back</span>
      </a>
      <a class="btn btn-primary"
         style="width: 100px"
         (click)="onSubmit()">
        <i class="bi bi-check-lg"></i>
        <span>Ok</span>
      </a>
    </div>
  </div>
</header>
<main class="d-flex">
  <form class="w-100 p-3"
        [formGroup]="form">
    <div class="mb-3">
      <label for="txtTitle" class="form-label">Title</label>
      <input id="txtTitle"
             class="form-control"
             type="text"
             placeholder="Title"
             formControlName="title">
    </div>
    <div class="mb-3">
      <label for="dpDate" class="form-label">Date</label>
      <input id="dpDate"
             class="form-control"
             type="date"
             placeholder="Date"
             formControlName="date">
    </div>
    <div class="form-check mb-3">
      <input id="chbIsFullDay"
             type="checkbox"
             class="form-check-input"
             formControlName="fullDay">
      <label for="chbIsFullDay" class="form-check-label">Full Day</label>
    </div>
    <div class="mb-3" *ngIf="!form.value.fullDay">
      <label for="dpStartTime" class="form-label">Start Time</label>
      <input id="dpStartTime"
             class="form-control"
             type="time"
             placeholder="Start time"
             formControlName="startTime">
    </div>
    <div class="mb-3" *ngIf="!form.value.fullDay">
      <label for="dpEndTime" class="form-label">End Time</label>
      <input id="dpEndTime"
             class="form-control"
             type="time"
             placeholder="End time"
             formControlName="endTime">
    </div>
    <div>
      <label for="txtDescription" class="form-label">Description</label>
      <textarea id="txtDescription"
                class="form-control"
                type="text"
                placeholder="Description"
                formControlName="description"></textarea>
    </div>
  </form>
</main>
