<form [formGroup]="form"
      (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>New TODO list task</legend>
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text"
             class="form-control"
             id="title"
             name="title"
             formControlName="title">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control"
                rows="3"
                id="description"
                formControlName="description"></textarea>
    </div>
    <div class="mb-3">
      <label for="startDate" class="form-label">Start Date</label>
      <input type="text"
             class="form-control"
             id="startDate"
             name="startDate"
             formControlName="startDate">
    </div>
    <div class="mb-3">
      <label for="deadline" class="form-label">Deadline</label>
      <input type="text"
             class="form-control"
             id="deadline"
             name="deadline"
             formControlName="deadline">
    </div>
    <button type="submit" class="btn btn-primary">
      <span>Ok</span>
    </button>
    <button type="button" class="btn btn-link" (click)="onCancel()">
      <span>Cancel</span>
    </button>
  </fieldset>
</form>
