<div #modal class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Warning!</h5>
        <button type="button"
                class="btn-close"
                (click)="onCloseDeleteTodoList()"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure that you want to remove the TODO list?</p>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                (click)="onCloseDeleteTodoList()">
          <span>Close</span>
        </button>
        <button type="button"
                class="btn btn-primary"
                (click)="onOkDeleteTodoList()">
          <span>Ok</span>
        </button>
      </div>
    </div>
  </div>
</div>
